    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Pendragon</h2>
              <br/>
                <p> Pendragon is 2D, orthogonal role-playing game set in the medieval era. You start from a meager commoner and have the chance to dominate the world. You will be free to wander the beautiful open world we designed and fight the various monsters that terrorize the citizens. Face the harsh environments of this world and try to survive through the night.</p>
                <br/>
              </div>
        </div>
    </section>
